webrtc-video-device video {
  position: absolute;
}
webrtc-video-device .webrtc-video0 {
  width: 1600px;
  height: 970px;
  top: 0px;
  left: 2080px;
}
webrtc-video-device .webrtc-video1 {
  width: 1600px;
  height: 970px;
  top: 0px;
  left: 3840px;
}
webrtc-video-device .webrtc-video2 {
  width: 1600px;
  height: 970px;
  top: 0px;
  left: 300px;
}
