webrtc-video-device video {
  position: absolute;
}
webrtc-video-device .webrtc-video0 {
  width: 1600px;
  height: 900px;
  top: 0px;
  left: 1650px;
}
webrtc-video-device .webrtc-video1 {
  width: 1600px;
  height: 900px;
  top: 0px;
  left: 3300px;
}
webrtc-video-device .webrtc-video2 {
  width: 1600px;
  height: 900px;
  top: 0px;
  left: 0px;
}
